@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 color: #190019;
 background: linear-gradient(-45deg, #2b124c, #fbe4d8, #854f6c, #dfb6b2);
 background-size: 400% 400%;
 animation: gradient 10s ease infinite;
 margin: 0;
 scroll-behavior: smooth;
 height: 100dvh;
 width: 100dvw;
 overflow-y: hidden;
 overflow-x: hidden;
}

@keyframes gradient {
 0% {
  background-position: 0% 50%;
 }
 50% {
  background-position: 100% 50%;
 }
 100% {
  background-position: 0% 50%;
 }
}

#__next {
 height: 100%;
 width: 100%;
}

main {
 height: 100%;
 width: 100%;
}

@layer utilities {
 .text-balance {
  text-wrap: balance;
 }
}
